.artwork-big {
  max-height: 500px;
  max-width: 95%;
  margin: auto;
  display: block;
}

#hypnosis {
  /* box-shadow: 7px 7px 7px #666666; */
  filter: drop-shadow(7px 7px 7px black);
}

.plyr {
  max-width: 90% !important;
  margin: 1.5vh auto;
  --plyr-color-main: white;
  --plyr-audio-controls-background: transparent;
  --plyr-audio-control-color: white;
  --plyr-audio-control-color-hover: #340a38;
}
* {
  margin: 0;
  padding: 0;
}

html {
  /*   background-color: #340a38; */
  color: #ffffff;
  font-family: Roboto Mono;
  line-height: 1.5;
  font-size: 16px;
}

body {
  min-height: 100vh;
  /* background: linear-gradient(45deg, #000000, #09203f, #340a38); */
  background: rgb(24, 24, 24);
  /* background-size: 600% 600%; */

  -webkit-animation: AnimGrad 10s ease infinite;
  -moz-animation: AnimGrad 10s ease infinite;
  -o-animation: AnimGrad 10s ease infinite;
  animation: AnimGrad 10s ease infinite;
}

/* @-webkit-keyframes AnimGrad {
  0% {
    background-position: 99% 0%;
  }
  50% {
    background-position: 2% 100%;
  }
  100% {
    background-position: 99% 0%;
  }
}
@-moz-keyframes AnimGrad {
  0% {
    background-position: 99% 0%;
  }
  50% {
    background-position: 2% 100%;
  }
  100% {
    background-position: 99% 0%;
  }
}
@-o-keyframes AnimGrad {
  0% {
    background-position: 99% 0%;
  }
  50% {
    background-position: 2% 100%;
  }
  100% {
    background-position: 99% 0%;
  }
}
@keyframes AnimGrad {
  0% {
    background-position: 99% 0%;
  }
  50% {
    background-position: 2% 100%;
  }
  100% {
    background-position: 99% 0%;
  }
} */

header {
  margin: 1.5vh 0;
  /*   background-color: aqua; */
}

.header-container {
  /*   background-color: aqua; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#sidebar-active {
  display: none;
}

.open-sidebar-button,
.close-sidebar-button {
  display: none;
}

/* .header-container {
    background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
} */

.header-logo {
  max-height: 125px;
  padding-top: 3vh;
}

.header-social {
  margin: 0 1vh;
  color: white;
  font-size: 2rem;
}

.header-social:hover {
  color: #d3d3d3;
}

.header-menu {
  font-size: 1.2rem;
  font-weight: 800;
}

.table {
  display: flex;
  justify-content: center;
  margin: 5vh 0;
}

.row-single {
  display: flex;
  max-width: 85%;
}

.row-double {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  max-width: 95%;
}

footer {
  text-align: center;
  font-size: 1.2rem;
  margin: 5vh 0;
}

/* #particles-js {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: -1;
} */

/* Media query to check if user prefers reduced motion */
@media (prefers-reduced-motion: reduce) {
  #particles-js {
    display: none;
  }
  * {
    animation: none !important; /* Disable animation */
    transition: none !important; /* Disable transitions */
  }
}
@media (max-width: 1280px) {
  .header-container {
    max-height: 100px;
  }
  .header-social {
    font-size: 1.3rem;
  }
  .header-menu {
    font-size: 0.9rem;
  }
  .row-double {
    gap: 0 3vw;
  }
}

@media (max-width: 850px) {
  .header-container :nth-child(1) {
    order: 1;
    margin-bottom: 10px;
  }
  .header-container :nth-child(4) {
    order: 3;
  }
  .header-container :nth-child(7) {
    order: 2;
  }

  .header-container {
    max-height: none;
    flex-wrap: wrap;
    /* flex-direction: column; */
  }
  .header-container a {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 2vw 4vw;
  }
  .header-menu {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    background-image: url("/hypnosis/artwork_hypnosis_comp.jpg");
    background-color: #cccccc;
    opacity: 0.9;
    z-index: 10;
    width: 75%;
    height: 100vh;
    box-shadow: -5px 0 5px rgb(0, 0, 0, 0.25);
    transition: 0.5s ease-out;
  }

  .open-sidebar-button,
  .close-sidebar-button {
    display: block;
    padding: 2vw 4vw;
  }
  #sidebar-active:checked ~ .header-menu {
    right: 0;
  }
  #sidebar-active:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
}

@media (min-width: 1680px) {
  .row-double {
    max-width: 85%;
  }
}

@media (max-width: 1024px) {
  .row-double {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
h1 {
  font-size: 2rem;
  text-align: center;
}

hr {
  width: 75%;
  margin: 3.5vh auto;
}
a {
    text-decoration: none;
    color: white;
  }
  
  a:hover {
    color: #d3d3d3;
    /* filter: drop-shadow(7px 7px 7px white); */
  }